.lightpurple{
    color: #a877c8;
}

.jewel{
    color: #a2b2df
}

.stark{
    color: #8e8484
}

.evagreen{
    color: #b1f25c
}

.command{
    color: #DA70D6;
    text-shadow:
    0 0 7px #fff,
    0 0 151px #ffa8fc;
}

.extra{
    color:#C1E1C1
}

::selection{
    background: rgb(89, 179, 89);
    color: #0E0B16;
}

::-webkit-scrollbar{
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000000; 
    border-radius: 50px;
  }
   

::-webkit-scrollbar-thumb {
    background: rgb(222, 200, 121) ;
    border-radius: 10px;
  }
  

html {
    font-size: 15px;
    width: 100%
}

#wrapper{
    margin: 20px;
    width: 950px;
}
body {
    background: #0E0B16;
    color: #E7DFDD;
    font-size: 100%;
    font-family: 'Roboto Mono', monospace;
    margin: 30px;
    overflow-x: hidden;
    position: absolute;
    width: inherit;
    padding-bottom: 40px
}

pre {
    color: #f7bb2a;
}

a {
    color: #a877c8;
    position: absolute;
    
}

a:hover{
    background-color:rgb(89, 179, 89);
    color: #0E0B16;

}

input {
    display: inline;
    position: absolute;
    outline: none;
    overflow: hidden;
    border: none;
    resize: none;
    background: #0E0B16;
    color: #b1f25c;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    padding-left: 0px;
    width: 80%;
    caret-color: #E7DFDD
}