@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.lightgreen{
    color: #F7BB2A;
}

.hidden {
    display: none;
}

.displayblock{
    display:block;
}
.command{
    color: #DA70D6;
    text-shadow:
    0 0 7px #fff,
    0 0 151px #ffa8fc;
}

.lightpurple{
    color: #a877c8;
}

.jewel{
    color: #a2b2df
}

.stark{
    color: #8e8484
}

.evagreen{
    color: #b1f25c
}

.nothing{
    animation: typing 0 steps(30, end);
}

.brightyellow{
    color: #f7bb2a;
}

.ascii{
    font-family: 'Roboto Mono';
    padding: 0;
}

.fullheight{
    height: 100%
}

.inner{
    padding: 50px 50px 50px 50px;
}

.stuff{
    overflow: auto;
}

::-webkit-scrollbar{
    width: 0.5em;
    height: 10em;
}

::-webkit-scrollbar-thumb{
    background:#b1f25c;
    border-radius: 5px;
}

main{
    display: block;
}

pre{
    margin: 0;
}

a{
    color: #a877c8;
}

a:hover{
    background-color:rgb(89, 179, 89);
    color: #0E0B16;
}

html{
    height: 100%;
    overflow: auto;
    display: block;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: #0E0B16;
    color: #e4e8f8;
    font-size: calc(10px + 0.33vw);
}

p{
    display: block;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 0.5s steps(30, end);
    font-size: 1em;
  }

input{ 
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    outline: none;
    overflow: hidden;
    border: none;
    resize: none;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-top: 0px;
    background-color: #0E0B16;
    color: #b1f25c;
    caret-color: #E7DFDD;
}

@media (max-width: 600px){
    .inner{
        padding: 2px 2px 2px 2px;
    }

    body{
        font-size: 9px;
    }
}
